<h1>Your Created Events</h1>

<div id="events">
  <% events = current_user.events %>
  <% events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<h2>Events you are attending</h2>
<h3>Upcoming Events</h3>
<div id="attending">
  <% enrollments = current_user.attended_events.where('date >= ?', Date.today) %>
  <% enrollments.each do |enrollment| %>

  <p><%= enrollment.title %></p>
      <p>
      <%= link_to "Show this event", enrollment %>
    </p>
  <% end %>
</div>

<h3>Past Events</h3>
  <% enrollments = current_user.attended_events.where('date < ?', Date.today) %>
  <% enrollments.each do |enrollment| %>
  <p><%= enrollment.title %> </p>
      <p>
      <%= link_to "Show this event", enrollment %>
    </p>
  <% end %>
