<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= event.creator.email %>
  </p>

</div>

<div>
  <p>
    <strong>Attendees:</strong>
  <% event.attendees.each do |attendee| %>
    <p><%= attendee.email %></p>
  <% end %>
  </p>
</div>