<p style="color: green"><%= notice %></p>

<h1>Events</h1>


<h3>Upcoming Events</h3>
  <% @events.future.each do |event| %>
  <%= event.title %>
  <p>
    <%= link_to "Show this event", event %>
  </p>
  <% end %>

  <h3>Past Events Events</h3>
  <% @events.past.each do |event| %>
  <%= event.title %>
  <p>
    <%= link_to "Show this event", event %>
  </p>
  <% end %>

