<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<% if !user_signed_in? %>
  <%= link_to "Log In", new_user_session_path %>
<% end%>

<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% end%>

<h3>Upcoming Events</h3>
  <% @events.future.each do |event| %>
  <%= event.title %>
  <p>
    <%= link_to "Show this event", event %>
  </p>
  <% end %>

  <h3>Past Events Events</h3>
  <% @events.past.each do |event| %>
  <%= event.title %>
  <p>
    <%= link_to "Show this event", event %>
  </p>
  <% end %>
<% if user_signed_in? %>
   <p> <%= link_to "New event", new_event_path %> </p>
   <p> <%= link_to "Your Events", users_path %> </p>
<% end%>
